/* Footer */
footer {
    clear: both;
    margin-top: 2em;
    padding-bottom: 2em;
}

/* Footer navigation links */
.links a {
    margin-right: 2em;
}

/* Footer copyrights */
.copy {
    color: lighten($text-color, 50%);
    text-align: center;
    font-size: smaller;
    @media (prefers-color-scheme:dark){
        color: lighten($text-color, 20%);

    }
}

