/* Footer */
footer {
    clear: both;
    margin-top: 2em;
    padding-bottom: 2em;
}

/* Footer navigation links */
.links a {
    margin-right: 3em;
}

/* Footer copyrights */
.copy {
    color: #aaa;
    text-align: center;
}

