--- 
layout: page 
title : wenhaiz 
header-img: "img/home-bg.jpg" 
description: "怕什么真理无穷 进一寸有一寸的欢喜" 
---

<!-- About Content -->
<section id="about">
	<div>
		<p>
			总想找个好的博客模版，现在终于找到了，这里要感谢 <a href="https://github.com/ShikherVerma">Shikher Verma</a>.</p>

		<p> 自我介绍下吧，我叫赵文海，是个成长中的 Android 开发者，目前还是大四的学生。</p>
		<p>算起来学习 Android 大概有两年了吧，我的专业不是计算机，所以一切都是自己边学边鼓捣，虽然没有什么大的成就，但我一直在努力中。</p>

		<p>最近忙着找工作，学习各种数据结构和算法，恶补计算机网络和操作系统，忙的不亦乐乎。虽然有些痛苦，但还算是乐在其中，希望一切顺利吧。</p>

		<p>这是我的个人博客，主要用来记录自己的工作学习和生活。</p>

		<p>许多程序员都有写博客的习惯，我之前不觉得这有什么意思。因为看到过很多人的博客内容就是把别人写的复制过来，改都懒得改，这让我对写博客这件事极度反感。</p>

		<p>后来我开始用网易云笔记来记录自己的学习内容，还学会了 Markdown 。</p>

		<p>由于看的书每个章节都是一部分相对独立的内容，形成的记录也就有了层次结构，这便于我从整体上梳理知识要点，也让我对所学内容的印象更深刻。 
			除此之外，为了写成一篇内容完整的笔记，我通常还会对所学知识进行扩展，特别是那些自以为了解，实际上却不是很了解的知识。
		</p>

		<p>虽然记录会额外付出一些时间，但是自己在记录的过程却能收获很多，而且记录形成文字后，以后可以随时查阅，不用再去网上乱找资料，这样反而节省了时间。</p>

		<p>这让我体会到了记录的意义。</p>

		<p>我决定坚持记录下去。</p>

		<p>因为想把自己的记录分享出去，所以才有了写博客的想法。</p>

		<p>我又觉得光写技术太无聊，其实还可以记录分享一些别的，比如读的一本书、看的一部电影、听的一首歌以及遇到的一个人。</p>
		<p>所以就有了这个博客，它现在内容不是很多，但以后会逐渐丰盛起来。</p>

		<p> 非常感谢来访的每一个人。</p>

		<p align="right" style="font-size:80%"><em>最后更新于 2017-09-11</em></p>

	</div>
</section>

<!-- Portfolio Grid Section -->
<!-- <section id="portfolio">
	<div class="row">
		<div class="text-center">
			<h2>Here's the stuff I've yet to disavow.</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		{% for item in site.portfolio %}
		<div class="col-sm-4 portfolio-item">
			<a href="#{{ item.anchor }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						{{ item.title }}<p></p>
						<i class="fa fa-search-plus"></i><p></p>
						Category: {{ item.category }}
					</div>
				</div>
				<img src="{{ item.image }}" class="img-responsive" alt="">
			</a>
		</div>
		{% endfor %}
	</section>

	<!-- Portfolio Modals -->

<!-- <section id="portfolio modals">
		{% for item in site.portfolio %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>{{ item.title }}</h2>
								<hr class="star-primary">
								<img src="{{ item.image }}" class="img-responsive img-centered" alt="">
								<p>{{ item.description }}</p>
								<ul class="list-inline item-details">
									<li>Team:
										<strong>{{ item.team }}
										</strong>
									</li>
									<li>Date:
										<strong>{{ item.date | date: '%B %Y' }}
										</strong>
									</li>
									<li>Category:
										<strong>{{ item.category }}
										</strong>
									</li>
								</ul>
								<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</section> -->