---
layout: page
title: "Thoughts"
description: "一个记录生活和想法的地方"
header-img: "assets/img/nav/life.jpg"
---

{% for post in site.tags.Thoughts %}
<div class="post-preview">
    <a href="{{ post.url }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">{{ post.date | date: "%Y-%m-%d %H:%M" }}</p>
</div>
<hr>
{% endfor %}
