---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('/{{ page.header-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta" style='margin-top:0.5em;' >{% if post.author %}{{ post.author }}{% endif %} Posted on {{ page.date | date: "%H : %M , %b  %d , %Y" }}
                    </span>
                    <span class="meta" style='margin-top:0.5em;'>Tag :
                         {% for tag in page.tags %}
                            {% if tag != "Code" %}
                                <a href="/tags/{{ tag }}"><i class="fa fa-tag"></i> {{ tag }}</a> 
                            {% endif %}
                        {% endfor %} </span>
                    <span class="meta" style='margin-top:0.5em;'>
                        {% assign minutes = content | number_of_words | divided_by: site.wpm %}
                        <i class="fa fa-clock-o"></i>&nbsp;{% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}
                        {{ minutes }} minutes to read.
                    </span>
                    {% if page.code-link %}
                    <span class="meta" style='margin-top:0.5em;'>
                        <a href="https://github.com/wenhaiz/wenhaiz.github.io/blob/master/{{ page.code-link }}" target="_blank">点击查看本文所有源代码</a>
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ content }}
            </div>
        </div>
    </div>
</article>

