---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('/{{ page.header-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta" style='margin-top:0.5em;'>{% if post.author %}{{ post.author }}{% else %}{{ site.default_author }}{% endif %} 发表于 {{ page.date | date: "%Y年 %m月 %d日 %H时 %M分" }}
                    </span>
                    <span class="meta" style='margin-top:0.5em;'> 标签：
                         {% for tag in page.tags %}
                            {% if tag == "Code"%}
                                <a href="/"><i class="fa fa-tag"></i> {{ tag }}</a>
                            {% else %}
                                <a href="/tags/{{ tag }}"><i class="fa fa-tag"></i> {{ tag }}</a> 
                            {% endif %}
                        {% endfor %} </span>
                    <span class="meta" style='margin-top:0.5em;'>
                        {% assign minutes = content | number_of_words | divided_by: site.wpm %}
                        <i class="fa fa-clock-o"></i>&nbsp;{% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}
                        阅读本文大概需要&nbsp;{{ minutes }}&nbsp;分钟
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ content }}

                <!-- disqus 评论插件 -->
                <!-- <br>
                {% if page.comments %}
                    {% include disqus_comments.html %}
                {% endif %}
                <br> -->
                <!-- todo：根据类别指示前一篇和后一篇 -->
                <!-- <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul> -->

            </div>
        </div>
    </div>
</article>
<hr>
